<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Google OAuth2 Example</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
[ng\:cloak], [ng-cloak], .ng-cloak {
   display: none !important;
}

.margin-top-5 {
   margin-top: 10px;
}

.p-img {
   height: 50px;
   width: 50px;
   border-radius: 50%;
}
</style>
<body ng-app="GoogleOAuthDemoApp" ng-controller="AppCtrl" ng-cloak>

<div class="container" style="margin-top: 50px;">
	<!-- Login panel -->
	<div class=" col-md-4 col-md-offset-4">
		<div class="panel panel-default" ng-show="!user">
			<div class="panel-heading">Google login with OAuth</div>
			<div class="panel-body">
				<div class="col-md-12">
					<a class="btn btn-default" href="/google/login">Google Login</a>
				</div>
			</div>
		</div>
		<!-- End Login panel -->

		<!-- Home panel. It will visible after successfull login -->
		<div class="panel panel-default" ng-show="user">

			<div class="panel-heading">
				<img class="p-img" alt=""
					 ng-src="{{user.userAuthentication.details.picture}}">
				{{user.name}}
			</div>
			<div class="panel-body">

				<div class="col-md-12">Email :
					{{user.userAuthentication.details.email}}</div>
				<div class="col-md-12">
					<a href="#" class="btn btn-default margin-top-5"
					   ng-click="logout()"> Logout </a>
				</div>
			</div>



		</div>
		<!-- End Home Panel -->
		<button ng-click="changemode(null)" ng-show="user">Accueil</button>
		<div ng-repeat="x in albums"  ng-show="modeAlbum" ng-click="changemode(x.photos)">
			<img src="{{x.album.image}}"/>
			<h1>{{x.album.name}}</h1>


			<button id="ajout_photo" ng-click="putPhotoAlbum(x.album.id)">Ajout d'une photo en base</button>
			<button id="delete_album" ng-click="deleteAlbum(x.album.id)">Suppression de l'album</button>
		</div>

		<div class = "photos" ng-repeat="p in photos" ng-hide="modeAlbum">
			<img  src="{{p.url}}" ng-click="getAllCom(p.id)"/>
			<button ng-click="follow(p.idUser)">Follow</button>
			<div class="commentaires" ng-repeat="c in commentaires" ng-hide="modeAlbum">
				<h1>{{c.commentaire}}</h1>
				<input type="text" ng-model="com"/>
				<button id="put_Commentaire" ng-click="postCommentaire(p.id,com)">Poster le commentaire</button>
				<button id="delete_Commentaire" ng-click="deleteCommentaire(c.id)">Supprimer ce commentaire</button>
				<input type="text" ng-model="newCom"/>
				<button id="update_Commentaire" ng-click="updateCommentaire(c.id,newCom)">Poster le commentaire</button>
			</div>

			<button ng-click="deletePhoto(p.id)" id="suppression_photo">Suppression de la photo</button>

		</div>

		<div class="formulaire" ng-show="user">
			<form>
				<input type="text" ng-model="name"/>
				<input type="text" ng-model="image"/>
				<button id="create_album" ng-click="createAlbum(name,image)">Création d'un album</button>

				<input type="text" ng-model="titre"/>
				<input type="text" ng-model="idAlbum"/>
				<input type="text" ng-model="legende"/>
				<input type="text" ng-model="url"/>
				<button id="put_photo" ng-click="putPhotoAlbum(titre, idAlbum, legende, url)">Création d'une photo</button>

			</form>
		</div>

		<div ng-show="user">
			<!--<h1 ng-show="user">Nb Followers: {{}}</h1>-->
			<div class="followers" ng-repeat="f in followers" ng-show="user">
				<h1>Follower: {{f.name}}</h1>
			</div >

			<!--<h1 ng-show="user">Nb Follows: {{}}</h1>-->
			<div class="follows" ng-repeat="fw in follows" ng-show="user">
				<h1>Follow: {{fw.name}}</h1>
			</div>

		</div>

	</div>
</div>

<!-- Including Scripts -->
<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
</body>
</html>